In [2]:
import pandas as pd
import numpy as np
from glob import glob

In [ ]:
filenames = glob('Combined_*[a,b,c,d,e,f,g,h,i,j,k]*160c.dta')
list_dfs  = [pd.read_stata(f) for f in filenames]

In [ ]:
waves_jbhr_index = [list_dfs[i].filter(regex='jbhrcpr$').columns for i in range(11)] #This finds the index for the string 'jbhrcpr' in all waves
waves_jbhr = [list_dfs[i][waves_jbhr_index[i]] for i in range(11)] #waves_jbhr[0-10] are now created (waves1-11)
waves_sex_index = [list_dfs[i].filter(regex='hgsex$').columns for i in range(11)] #Finds the index for sex in each dataset
waves_sex = [list_dfs[i][waves_sex_index[i]] for i in range(11)] #waves_sex[0-10] are now created (waves1-11)

waves_employed_index = [list_dfs[i].filter(regex='esbrd$').columns for i in range(11)] #
waves_employed = [list_dfs[i][waves_employed_index[i]] for i in range(11)] #waves_employed[0-10] are now created (waves1-11)

In [348]:
waves_join = [waves_jbhr[i].join([waves_sex[i],waves_employed[i]]) for i in range(11)] #This joins the columns of jbhr and sex for each data

In [342]:
total = [waves[i].sum(axis=1) for i in range(11)]
total_df = [pd.DataFrame(total[i]) for i in range(11)]
total_combine = [total_df[i].join(waves[i]) for i in range(11)]

In [345]:
waves_excluded = [waves_join[i][waves_join[i].iloc[:,2] == '[1] Employed'] for i in range(11)]
waves_excluded = [waves_excluded[i].iloc[:,:2] for i in range(11)]
waves = [waves_excluded[i].groupby([waves_excluded[i].iloc[:,0],waves_excluded[i].iloc[:,1]]).size().unstack() for i in range(11)]
waves = [waves[i].T for i in range(11)]

In [346]:
total = [waves[i].sum(axis=1) for i in range(11)]
total_df = [pd.DataFrame(total[i]) for i in range(11)]
total_combine = [total_df[i].join(waves[i]) for i in range(11)]

In [347]:
frac_waves = [waves[i].div(waves[i].sum(axis=1), axis=0) * 100 for i in range(11)]

In [228]:
total_combine = [total_df[i].join(frac_waves[i]) for i in range(11)]
total_combine = [total_combine[i].rename(columns={0:'Total Employed'}) for i in range(11)]
total_combine = [total_combine[i].fillna(0) for i in range(11)]

In [229]:
final_table = total_combine[0].merge(total_combine[1], how = 'outer')
final_table = final_table.merge(total_combine[2], how = 'outer')
final_table = final_table.merge(total_combine[3], how = 'outer')
final_table = final_table.merge(total_combine[4], how = 'outer')
final_table = final_table.merge(total_combine[5], how = 'outer')
final_table = final_table.merge(total_combine[6], how = 'outer')
final_table = final_table.merge(total_combine[7], how = 'outer')
final_table = final_table.merge(total_combine[8], how = 'outer')
final_table = final_table.merge(total_combine[9], how = 'outer')
final_table = final_table.merge(total_combine[10], how = 'outer')

In [230]:
final_table = final_table.fillna('')
row_list = final_table.index
num_rows = len(row_list)

In [231]:
new_rows = []
for i in range(num_rows):
    if i == 0 or i %2 == 0:
        new_rows.append('Male')
    else:
        new_rows.append('Female')

In [232]:
waves = []
for i in range(1,12):
    if i == 0 or i %2 == 0:
        waves.append('Wave {}'.format(i))
        waves.append('Wave {}'.format(i))
    else:
        waves.append('Wave {}'.format(i))
        waves.append('Wave {}'.format(i))

In [293]:
final_rows = [waves[i] + ' ' + new_rows[i] for i in range(22)]
final_table.index = new_rows

In [286]:
a = 0
b = 2
final_locs = []
while a < 21:
    final_locs.append(final_table.iloc[a:b,:])
    a = a + 2
    b = b + 2

In [296]:
final_locs[0]

,Total Employed,[-4] Refused/Not stated,[-3] Dont know,[1] Fewer hours,[2] About the same,[3] More hours
Male,4549,0.0219829,0.285777,30.160475,54.297648,15.234117
Female,3976,0.0754527,0.301811,26.685111,55.709256,17.228370

In [304]:
final_table = final_table.reset_index()

In [306]:
waves = []
for i in range(1,12):
    if i == 0 or i %2 == 0:
        waves.append('Wave {}'.format(i))
        waves.append('Wave {}'.format(i))
    else:
        waves.append('Wave {}'.format(i))
        waves.append('Wave {}'.format(i))

In [319]:
final_table.index = waves
final_table = final_table.rename(columns={'index':'Sex'})

In [326]:
final_table

,Sex,Total Employed,[-4] Refused/Not stated,[-3] Dont know,[1] Fewer hours,[2] About the same,[3] More hours
Wave 1,Male,4549,0.0219829,0.285777,30.160475,54.297648,15.234117
Wave 1,Female,3976,0.0754527,0.301811,26.685111,55.709256,17.228370
Wave 2,Male,4325,,0.138728,31.283237,53.502890,15.075145
Wave 2,Female,3763,,0.186022,24.608026,57.560457,17.645496
Wave 3,Male,4247,,0.211914,31.316223,54.744526,13.727337
Wave 3,Female,3744,,0.293803,25.240385,57.104701,17.361111
Wave 4,Male,4155,0.0240674,0.264741,30.878460,55.547533,13.285199
Wave 4,Female,3667,0,0.054540,25.934006,57.703845,16.307608
Wave 5,Male,4304,,0.116171,29.623606,57.109665,13.150558
Wave 5,Female,3943,,0.177530,26.249049,56.632006,16.941415
Wave 6,Male,4353,,0.022973,29.565817,57.293820,13.117390
Wave 6,Female,4004,,0.000000,26.123876,58.591409,15.284715
Wave 7,Male,4308,0,0.116063,28.667595,59.261838,11.954503
Wave 7,Female,4034,0.0247893,0.123946,26.648488,57.858205,15.344571
Wave 8,Male,4337,0.0230574,0.138344,27.784183,59.810929,12.243486
Wave 8,Female,4032,0,0.099206,25.173611,60.193452,14.533730
Wave 9,Male,4493,0.0222568,0.044514,27.398175,58.468729,14.066325
Wave 9,Female,4084,0,0.122429,23.849167,60.259549,15.768854
Wave 10,Male,4516,,0.066430,25.575731,60.540301,13.817538
Wave 10,Female,4149,,0.024102,24.536033,58.640636,16.799229
Wave 11,Male,5859,0.0170678,0.119474,25.857655,59.122717,14.883086
Wave 11,Female,5375,0.0372093,0.037209,24.037209,58.623256,17.265116