## Table 8 Average Adjustment in Actual and Preferred Hours When Developing and Resolving Working Hour Mismatches

i) When people go from wanting to work more/less at t-1 to being content with their hours at time t. 
First two rows. 

ii) Those who report a satisfaction at time t-1 and then report dissatisaction of either type (more/less hours) at time t. 
Rows 3 and 4.

- Is it working hours that change or is it preferred hours?

In [1]:
import pandas as pd
import numpy as np
from glob import glob
import numbers

In [2]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [3]:
filenames = glob('Combined_*[a,b,c,d,e,f,g,h,i,j,k]*160c.dta')
list_dfs  = [pd.read_stata(f) for f in filenames]

In [15]:
male, female = '[1] Male', '[2] Female'
less, more, same = '[1] Fewer hours', '[3] More hours', '[2] About the same'
sex, pref_before, pref_now = '[1] Male', '[2] About the same', '[1] Fewer hours'

In [178]:

list_males = [list_dfs[i][list_dfs[i].filter(regex='hgsex$').columns]for i in range(11)]
list_males = [list_dfs[i][list_males[i].iloc[:,0] == sex] for i in range(11)]

pref1 = [list_males[i].filter(regex='jbhrcpr$') for i in range(11)]
pref2 = [list_males[i].filter(regex='jbhrcpr$') for i in range(11)]
pref2 = pref2[1:]

diff = [pref1[i].join(pref2[i]) for i in range(10)]
cleaned = [diff[i].dropna(how = 'any') for i in range(10)]

hours_wkedt = [list_dfs[i][list_dfs[i].filter(regex='jbhruc$').columns]for i in range(11)]
hours_wkednew = hours_wkedt[1:]
hours_preferred = [list_dfs[i][list_dfs[i].filter(regex='jbtprhr$').columns]for i in range(11)]
hours_preferred_new = hours_preferred[1:]

new_clean = [cleaned[i].join(hours_wkedt[i]) for i in range(10)]
new_clean = [new_clean[i].join(hours_wkednew[i]) for i in range(10)]
new_clean = [new_clean[i].join(hours_preferred[i]) for i in range(10)]
new_clean = [new_clean[i].join(hours_preferred_new[i]) for i in range(10)]

fewer_at_tminus1 = [new_clean[i][new_clean[i].iloc[:,0] == pref_before] for i in range(10)]
fewer_at_tminus1 = [fewer_at_tminus1[i][fewer_at_tminus1[i].iloc[:,1] == pref_now] for i in range(10)]
fewer_at_tminus_pref = [pd.to_numeric(fewer_at_tminus1[i].iloc[:,-2], errors='coerce') for i in range(10)]
fewer_at_tminus_actual = [pd.to_numeric(fewer_at_tminus1[i].iloc[:,2], errors='coerce') for i in range(10)]

fewer_at_t_pref = [pd.to_numeric(fewer_at_tminus1[i].iloc[:,-1], errors='coerce') for i in range(10)]
fewer_at_t_actual = [pd.to_numeric(fewer_at_tminus1[i].iloc[:,3], errors='coerce') for i in range(10)]

hours_diff_pref = [fewer_at_t_pref[i] - fewer_at_tminus_pref[i] for i in range(10)]
hours_diff_actual = [fewer_at_t_actual[i] - fewer_at_tminus_actual[i] for i in range(10)]

hours_diff_pref = [pd.DataFrame(hours_diff_pref[i]) for i in range(10)]
hours_diff_pref = [hours_diff_pref[i].fillna(0) for i in range(10)]
hours_diff_actual = [pd.DataFrame(hours_diff_actual[i]) for i in range(10)]
hours_diff_actual = [hours_diff_actual[i].fillna(0) for i in range(10)]

for i in range(10):
    hours_diff_actual[i].columns = {'Actual hours'}

final = [fewer_at_tminus1[i].join(hours_diff_pref[i]) for i in range(10)]
final = [final[i].join(hours_diff_actual[i]) for i in range(10)]
actual_diff = [final[i].iloc[:,-1] for i in range(10)]
actual_diff_mean = [actual_diff[i].mean() for i in range(10)]
actual_diff_mean = np.array(actual_diff_mean).mean()

pref_diff = [final[i].iloc[:,-2] for i in range(10)]
pref_diff_mean = [pref_diff[i].mean() for i in range(10)]
pref_diff_mean = np.array(pref_diff_mean).mean()

add = [len(final[i]) for i in range(10)]
add = np.array(add).sum()

In [153]:
pref = final[0].iloc[:,-2]
act = final[0].iloc[:,-1]

pref = pd.DataFrame(pref)
pref.columns = ['Preferred hours']
act = pd.DataFrame(act)

In [120]:
phah_tot = pref.join(act)
phah1 = phah[(phah.iloc[:,0] > 0) & (phah.iloc[:,1] > 0)]
phah2 = phah[(phah.iloc[:,0] > 0) & (phah.iloc[:,1] == 0)]
phah3 = phah[(phah.iloc[:,0] > 0) & (phah.iloc[:,1] < 0)]
phah4 = phah[(phah.iloc[:,0] == 0) & (phah.iloc[:,1] > 0)]
phah5 = phah[(phah.iloc[:,0] == 0) & (phah.iloc[:,1] == 0)]
phah6 = phah[(phah.iloc[:,0] == 0) & (phah.iloc[:,1] < 0)]
phah7 = phah[(phah.iloc[:,0] < 0) & (phah.iloc[:,1] > 0)]
phah8 = phah[(phah.iloc[:,0] < 0) & (phah.iloc[:,1] == 0)]
phah9 = phah[(phah.iloc[:,0] < 0) & (phah.iloc[:,1] < 0)]
phah = phah1, phah2, phah3, phah4, phah5, phah6, phah7, phah8, phah9

In [128]:
first_col = [(len(phah[i])/len(phah_tot)) * 100 for i in range(9)]

In [129]:
first_col

[25.555555555555554,
 0.0,
 0.0,
 8.88888888888889,
 0.0,
 0.0,
 31.666666666666664,
 7.777777777777778,
 26.111111111111114]

In [182]:
pref = [final[i].iloc[:,-2] for i in range(10)]
act = [final[i].iloc[:,-1] for i in range(10)]

for i in range(10):
    pref[i].name = 'Preferred hours'

In [190]:
act = [pd.DataFrame(act[i]) for i in range(10)]
pref = [pd.DataFrame(pref[i]) for i in range(10)]

In [260]:
phah = [pref[i].join(act[i]) for i in range(10)]
phah1 = [phah[i][(phah[i].iloc[:,0] > 0) & (phah[i].iloc[:,1] > 0)] for i in range(10)]
phah2 = [phah[i][(phah[i].iloc[:,0] > 0) & (phah[i].iloc[:,1] == 0)] for i in range(10)]
phah3 = [phah[i][(phah[i].iloc[:,0] > 0) & (phah[i].iloc[:,1] < 0)] for i in range(10)]
phah4 = [phah[i][(phah[i].iloc[:,0] == 0) & (phah[i].iloc[:,1] > 0)] for i in range(10)]
phah5 = [phah[i][(phah[i].iloc[:,0] == 0) & (phah[i].iloc[:,1] == 0)] for i in range(10)]
phah6 = [phah[i][(phah[i].iloc[:,0] == 0) & (phah[i].iloc[:,1] < 0)] for i in range(10)]
phah7 = [phah[i][(phah[i].iloc[:,0] < 0) & (phah[i].iloc[:,1] > 0)] for i in range(10)]
phah8 = [phah[i][(phah[i].iloc[:,0] < 0) & (phah[i].iloc[:,1] == 0)] for i in range(10)]
phah9 = [phah[i][(phah[i].iloc[:,0] < 0) & (phah[i].iloc[:,1] < 0)] for i in range(10)]

phah_tot = phah1, phah2, phah3, phah4, phah5, phah6, phah7, phah8, phah9

In [262]:
np.array([len(phah_tot[0][i]) for i in range(10)]).mean()

50.8

In [276]:
len_phah1 = [len(phah1[i]) for i in range(10)]#This is the average length of PH^AH^ for all waves
len_phah1 = np.array(len_phah1)
for i in range(10):
    len_phah1[i]/len_phah1.sum() * 100

9.05511811023622

8.661417322834646

7.283464566929133

12.204724409448819

11.614173228346457

8.661417322834646

10.039370078740157

10.236220472440944

10.433070866141732

11.811023622047244

In [ ]:
len_phah2 = np.array[len(phah1[i]) for i in range(10)].mean()
len_phah3 = np.array[len(phah1[i]) for i in range(10)].mean()
len_phah4 = np.array[len(phah1[i]) for i in range(10)].mean()
len_phah5 = np.array[len(phah1[i]) for i in range(10)].mean()
len_phah6 = np.array[len(phah1[i]) for i in range(10)].mean()
len_phah7 = np.array[len(phah1[i]) for i in range(10)].mean()
len_phah8 = np.array[len(phah1[i]) for i in range(10)].mean()
len_phah9 = np.array[len(phah1[i]) for i in range(10)].mean()
len_phah10 = np.array[len(phah1[i]) for i in range(10)].mean()

In [209]:
(phah[1].iloc[:,0] > 0)& (phah[1].iloc[:,1] == 0)

175      False
245      False
425      False
585      False
631      False
         ...
16365    False
16592    False
17184    False
17411    False
17558    False
Length: 157, dtype: bool

In [208]:
phah[0]

       Preferred hours  Actual hours
127                -20             0
231                  7            32
278                -30             6
462                -30           -22
677                -13             0
...                ...           ...
17675              -10            10
17800                0            20
18036              -15            -3
18141               19            29
18231               -5            25

[180 rows x 2 columns]

In [6]:
m_l_s = table_8(male,less, same) #Resolved desire for less
m_m_s = table_8(male,more, same)
f_l_s = table_8(female,less, same)
f_m_s = table_8(female, more, same)
m_s_l = table_8(male, same, less) 
m_s_m = table_8(male, same, more)
f_s_l = table_8(female, same, less)
f_s_m = table_8(female, same, more)

In [7]:
actual_male = m_s_l[0], m_s_m[0], m_l_s[0], m_m_s[0]
preferred_male = m_s_l[1], m_s_m[1], m_l_s[1], m_m_s[1]
total_male = m_s_l[2], m_s_m[2], m_l_s[2], m_m_s[2]

actual_female = f_s_l[0], f_s_m[0], f_l_s[0], f_m_s[0]
preferred_female = f_s_l[1], f_s_m[1], f_l_s[1], f_m_s[1]
total_female = f_s_l[2], f_s_m[2], f_l_s[2], f_m_s[2]

In [8]:
males = pd.DataFrame(preferred_male, actual_male)
males = males.reset_index()
total_male = pd.DataFrame(total_male)
total_male.columns = ['Number of Workers (M)']
males = males.join(total_male)
males.columns = [['Change in Actual hours (M)', 'Change in Preferred hours (M)', 'Number of Workers (M)']]

females = pd.DataFrame(preferred_female, actual_female)
females = females.reset_index()
total_female = pd.DataFrame(total_female)
total_female.columns = ['Number of Workers (F)']
females = females.join(total_female)
females.columns = [['Change in Actual hours (F)', 'Change in Preferred hours (F)', 'Number of Workers (F)']]
final = males.join(females)

In [12]:
final

,Change in Actual hours (M),Change in Preferred hours (M),Number of Workers (M),Change in Actual hours (F),Change in Preferred hours (F),Number of Workers (F)
Developed desire for fewer hours,9.437720,-4.928024,1754,11.749134,-1.368290,1297
Developed desire for more hours,-10.756262,1.459071,843,-10.228006,0.658505,848
Resolved a desire for fewer hours,-10.506870,3.681173,1818,-12.873103,0.692198,1311
Resolved a desire for more hours,11.554480,-0.802429,838,9.709236,-1.752196,842

In [9]:
final.index = ('Developed desire for fewer hours',
'Developed desire for more hours',
'Resolved a desire for fewer hours',
'Resolved a desire for more hours')

In [10]:
final

,Change in Actual hours (M),Change in Preferred hours (M),Number of Workers (M),Change in Actual hours (F),Change in Preferred hours (F),Number of Workers (F)
Developed desire for fewer hours,9.437720,-4.928024,1754,11.749134,-1.368290,1297
Developed desire for more hours,-10.756262,1.459071,843,-10.228006,0.658505,848
Resolved a desire for fewer hours,-10.506870,3.681173,1818,-12.873103,0.692198,1311
Resolved a desire for more hours,11.554480,-0.802429,838,9.709236,-1.752196,842